<div class="contact-form">
  <h3>Add New Contact</h3>
  <div class="input-element">
    <input
      type="text"
      name="name"
      placeholder="Enter your name"
      [(ngModel)]="name"
      required
    />
  </div>
  <div class="input-element">
    <input
      type="number"
      name="number"
      [(ngModel)]="number"
      placeholder="Enter your number"
      required
    />
  </div>
  <div class="input-element">
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="Enter your email"
      required
    />
  </div>
  <div class="input-element">
    <input type="button" value="Save" (click)="addCOntact()" />
  </div>
</div>
<div class="contact-list">
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>EMail</th>
    </tr>
    <tr *ngFor="let contct of contactList">
      <td>
        {{ contct.name }}
      </td>
      <td>
        {{ contct.number }}
      </td>
      <td>
        {{ contct.email }}
      </td>
    </tr>
  </table>
</div>
