h2{
  text-align: center;
}
.brf{
  padding: 25px;
}
#section{
text-align: right;
}
button{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: medium;
  margin: 10px 0;
  border:none;
  outline: none;
  cursor: pointer;
  text-emphasis-color: black;
}
#signupbtn{
  background-color:bisque;
}